POSTGRES_DB=foodgram
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234
POSTGRES_HOST=db
POSTGRES_PORT=5432

DEBUG=False
SECRET_KEY=your_django_secret_key
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,your_domain.com
DJANGO_SETTINGS_MODULE=foodgramApi.settings

DB_NAME=${POSTGRES_DB}
DB_USER=${POSTGRES_USER}
DB_PASSWORD=${POSTGRES_PASSWORD}
DB_HOST=${POSTGRES_HOST}
DB_PORT=${POSTGRES_PORT}

NGINX_HOST=your_domain.com
NGINX_PORT=80